*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  background-color: #282c34;
  height: 10vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  min-height: 100vh;
}

.tabs-bar {
  grid-area: tab;
  background-color: orange;
  height: 100%;
}

.maindisp { 
  grid-area: main;
  background-color: red;
}


.sidebar-category{
  grid-area: cat;
  background-color: aquamarine;
}

.grid-container{
  border: black dashed 1px;
  height: 70vh;
  width: 100%;
  /*width: 70vw;*/
  display:grid; 
  grid-template-areas: 'tab tab tab'
    'main main cat';

  grid-template-rows: auto auto;
    background-color: #2196F3;



}

.grid-container > div {
  border: 3px solid black;
  
}






footer {
  text-align:center;
  background-color: #282c34;
  color: white;
}