* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
}


main {
  height: 100%;
}

.tabs-bar {
  grid-area: tab;
  /*background-color: orange;*/
  height: 100%;
}

.maindisp {
  grid-area: main;
  /*background-color: red;*/
  height: 100%;
}


.sidebar-category {
  grid-area: cat;
  /* background-color: aquamarine;*/
  height: 100%;
}

.grid-container {
  border: black dashed 1px;
  height: 100%;
  width: 100%;
  /*width: 70vw;*/
  display: grid;
  grid-template-areas: 'tab tab tab'
    'main main cat';

  grid-template-rows: 15vh auto;
  grid-template-columns: auto auto 18vw;
  /*background-color: #2196F3;*/
  padding: 0;
  margin: 0;

}

.grid-container>div {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 825px) {
  .app {
    padding: 0;
    counter-reset: tabnr;
  }


  /* hides text in the tab buttons*/
  .combination {
    font-size: 0;
  }

  /* displays tab number */
  .combination::after {
    counter-increment: tabnr;
    content: counter(tabnr);
    font-size: 1.5rem;
  }
}


@media only screen and (max-width:825px) and (min-width:376px),
(orientation: landscape) and (max-width:825px) and (min-width:376px) {

  .grid-container {
    grid-template-areas: 'tab''main''cat';
    grid-template-rows: 15vh 85vh auto;
    grid-template-columns: auto;
  }

  .sidebar>h3 {
    display: none;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }


  form>label {
    padding: 15px;

  }


}

/*bredden til iphone x/8/7/6 = 375px */
@media only screen and (max-width:376px) and (orientation: portrait) {

  .grid-container {
    grid-template-areas: 'tab''main''cat';
    grid-template-rows: 15vh 85vh auto;
    grid-template-columns: auto;
  }

  .sidebar>h3 {
    display: block;
  }

  .sidebar {
    display: inline-block;
    padding-left: 10px;
  }

  form>label {
    padding: 15px;
  }

}