.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #282c34;
  display: flex;
  height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  min-height: 100vh;
  flex: 1;
  padding: 5rem 10rem 0 10rem;
}

.Box {
  border: black dashed 1px;
  height: 60vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.InnerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Parent need height for height=100% to work*/
  height: 100%;
}

footer {
  background-color: #282c34;
  color: white;
}