.btn {
  height: 50px;
  width: auto;

  font-weight: bold;
  padding: 0.3rem 1rem;
  border-radius: 25px;
  cursor: auto;
}

.btn:focus {
  outline: none;
}

.btn h3 {
  margin: 0;
  padding: 0;
}

.inner-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}