.btn {
  font-weight: bold;
  padding: 0.3rem 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.inner-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn:focus {
  outline: none;
}