form > label{
    display: block; 
    padding: 5px;
    font-size: 1.2rem;
    
}

.choice-form{
    padding: 15px 0;
}
.choice-form > h3 {
    font-size: 1.5rem;
    
}

label > input {
    text-align: right; 
    background-color: red;
}

input {
    background-color: orange;
    margin-right: 5px;
}



