
.maindisplay {
  border: rgb(0, 255, 255) dashed 1px;
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.favorite-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  height: 50px;
  width: auto;
  padding: 1rem;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn h3 {
  margin: 0;
  padding: 0;
}

.favorite {
  background-color: rgb(255, 0, 0, 0.4);
  transition: background-color ease-in-out 150ms;
}

.favorite:hover {
  background-color: rgb(255, 0, 0, 0.65);
  transition: background-color ease-in-out 150ms;
}

.delete {
  background: none;
  border: solid 2px rgb(255, 0, 0, 0.3);
  transition: border ease-in-out 150ms;
}

.delete:hover {
  border: solid 2px rgb(255, 0, 0, 0.7);
  transition: border ease-in-out 150ms;
}
