.sidebar > h3 {
  font-size: 1.7rem;
  padding-bottom: 20px;
}

.sidebar {
  display: inline-block;
  border: rgb(4, 0, 255) dashed 1px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}